{% extends 'core/base.html' %}

{% block title %}Search for {{query}}{% endblock title %}

{% block content %}
<div class="container p-4">
    <div class="row p-1">
        {% if query %}
            <h4>Currently showing products for "{{query}}"</h4>
        {% elif category %}
            <h4>Currently showing products in category {{category}}</h4>
        {% endif %}

        {% for product in products %}
            {% include 'product/parts/list_item.html' %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
